@inherits LayoutComponentBase

<FluentDesignTheme CustomColor="@PrimaryColor" Mode="@(AppearanceState.Mode)" StorageName="@APPEARANCE_STORAGE" />
<FluentDesignSystemProvider ControlCornerRadius="@ControlCornerRadius" BaseHeightMultiplier="@BaseHeight" DisabledOpacity="@DisabledOpacity"  LayerCornerRadius="@LayerCornerRadius" Density="@Density" BaseHorizontalSpacingMultiplier="@BaseHorizontalSpacingMultiplier" FocusStrokeWidth="@FocusStrokeWidth" TypeRampBaseFontSize="@TypeRampBaseFontSize" TypeRampBaseLineHeight="@TypeRampBaseLineHeight" >
    <div @ref="@Reference" class="@ClassValue" style="@StyleValue" @attributes="AdditionalAttributes">
        <FluentMessageBarProvider Section="@ViewSection.TOP" />
        <CascadingValue Value="@AppearanceState">
            @Body
        </CascadingValue>
        <FluentToastProvider MaxToastCount="10" />
        <FluentDialogProvider />
        <FluentTooltipProvider />
        <FluentMenuProvider />

    </div>
</FluentDesignSystemProvider>